

@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Condiment&family=Kalam:wght@300&family=Oxygen:wght@300&family=Pacifico&family=Permanent+Marker&family=Source+Code+Pro&family=Splash&display=swap');.card{
  
  display: inline-block;
  justify-content: center;
  border: 3px solid #1d183d;
  margin: 24px;
  background-color:rgb(235, 199, 244);
  font-size: 20px;
}
.text-right{
display: flexbox;
font-family: 'Space Mono', monospace;
color: #eeeaf2;
font-size: 15px;
text-align:left;
font-family: 'Space Mono', monospace;
background-color:#1d183d;
margin: 0%

}
.text-left{
  font-family: 'Space Mono', monospace;
  color: #eeeaf2;
  font-size: 15px;
  text-align:left;
  font-family: 'Space Mono', monospace;
  background-color:#1d183d;
  margin: 0%;
  
  }



.classCard{
  display: inline-block;
  justify-content: center;
  border: 3px solid #1d183d;
  margin: 24px;
  background-color:rgb(235, 199, 244);
  font-size: 20px;
}
 
  


  #aboutMeTitle {
  font-family:'Tinos', serif;
  margin: 1%;
  padding: 1%;
   

}
h2 {
padding-left: 15px;
margin: 24px;
display:flex;

}
 .certificates {
  margin: 50px;
  padding: 24px;
  border: 3px solid #1d183d;
  background-color:rgb(235, 199, 244);;
   /* background-image: url(./images/il_fullxfull.2259399002_7ujz.webp);
  background-size:contain; */
  display:flex;
  border: 3px solid #06031A;
  list-style: none;
  padding: 24px; 
  margin: 24px;
 }
    


footer {
    border:3px solid #1d183d;
    background-color:  rgb(235, 199, 244);
}

.myProjects {

    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 65px;
    background-color: rgb(235, 199, 244);
    border:3px solid #1d183d;
    padding: 3px;
    margin: 2px;
}



 h1 {

    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 65px;
    background-color: rgb(235, 199, 244);
    border:3px solid #1d183d;
   
     padding: 3px; 
     margin: 2px; 

    } 
    .teamProjects {
      text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 65px;
    background-color: rgb(235, 199, 244);
    border:3px solid #1d183d;
    /* padding: 3px;
    margin: 2px; */
    /* background-image: url(./images/techpicpink.jpeg); */
    /* background-image: url(./images/infinitytech.png); */
    }
    
    



header {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 65px;
  background-color: rgb(235, 199, 244);
  border:3px solid #1d183d;
 
   padding: 13px; 
   margin: 12px; 
 
    

}
    h4 {
        font-family: 'Shadows Into Light', cursive;
        text-align: center;
        font-size: 25px;
    }

#pic1 {
  display: flex;
    justify-content: center;
    /* width: 100%; */
   margin: 0%;
    align-self: center;
    border:3px solid rgb(89, 207, 207);
    
}

/* .pic2 {
display: block;
    border: 3px solid #1d183d;
    padding:30px;
    background-color:rgb(235, 199, 244);
}
 .mycode {
  text-align: center;

 } */

body  {
background-color:rgb(237, 220, 244);
margin: 0%;
padding: 0%;
}


aside {
    text-align: center;}

    .navbar {
        overflow: hidden;
        background-color:#1d183d;
        font-family: 'Tinos', serif;
        
      }
  
      
      .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
       .dropdown {
        float: left;
        overflow: hidden;
       font-family:  'Tinos', serif;
      }
      
      .dropdown .dropbtn {
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: 'Tinos', serif;;
        margin: 0;
      }
      
      .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: rgb(235, 199, 244);
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      } 
      
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .dropdown-content a:hover {
        background-color: #ddd;
      }
      
      .dropdown:hover .dropdown-content {
        display: block; }
      
   .card-text{
    font-size: 20px;
    text-align: center;
  } 
  .me {
   display: block;
    font-size: 30px;
    border: 3px solid #06031A;
    font-family: 'Kalam', cursive;
    /* font-family: 'Splash', cursive;  */
    font-weight: bolder ;
    margin: 25px;
    /* padding: 24px; */
    border: 3px solid #1d183d ;
    text-align: center; 
    background-color: rgb(235, 199, 244);
  }

  
.biopic{
display: inline-block;
align-items:baseline;
 background-color: rgb(89, 207, 207); 
 
 padding: 10%;
 /* border: 3px solid #1d183d;  */ 
 border: 3px solid #1d183d;
}

.pic-code{
  display: flex;
}

.code{
  display:inline;
  text-align: left;
  border: 24px;
  margin: 24px;
  font-family: 'Source Code Pro', monospace; 

}

.bluepic {
/* margin: 24px; */
/* padding: 50px;
padding-bottom: 0%;
margin-bottom: 0%; */
border: 3px solid #06031A;

}

#pic2{
width: 100%;
align-self: center;
border: 3px solid  #1d183d;; 
margin: 0%;
padding: 0%;

}

ul {
  background-color: rgb(89, 207, 207);
  margin: 0%;
  padding: 0%;
  border: 3px solid  #1d183d;; 
}
.blockquote-footer{
  margin: 0%;
  padding: 0%;
}
.blockquote{
display:inline-block;
}
.objective{
  font-family: 'Kalam', cursive;
  font-size: 30px;
display:inline-block;
text-align:left;
 background-color: rgb(89, 207, 207); 
 padding-top: 5%;
 font-weight: bolder;


}
.row g-0 position-relative {
  display: flex;
}
.work{
  border:3px solid #1d183d;  
  background-color: rgb(235, 199, 244);
}
.workexperience{
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 65px;
   background-color:rgb(89, 207, 207);
  border: 3px solid #1d183d;}
 /* background-color: rgb(89, 207, 207); */
 .work-body{
   background-color:rgb(89, 207, 207) ;
 }

.skills{
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 65px;
  background-color: rgb(235, 199, 244);
  border:3px solid #1d183d;
 
   padding: 3px; 
   margin: 2px; 
}
.languages{
  list-style: none;
  /* text-align: center; */
  /* border:3px solid #1d183d;   */
 background-color:rgb(235, 199, 244) ;
  font-family: 'Source Code Pro', monospace; 
  font-weight: bolder;
  text-align: center;
}
.mylife{
  font-size: 60px;
  text-align: center;
  border:3px solid #1d183d; 
  }

.bugs{
  border: 3px solid rgb(235, 199, 244);
margin: 2%;
}